// SPDX-License-Identifier:     GPL-2.0
/*
 * Copyright (C) 2026, Altera Corporation
 */
#include "socfpga_agilex5_socdk.dts"

/ {
	model = "SoCFPGA Agilex5 SoCDK - debug daughter card";
	compatible = "intel,socfpga-agilex5-socdk-debug", "intel,socfpga-agilex5";

	leds {
		led-0 {
			gpios = <&portb 12 GPIO_ACTIVE_HIGH>;
		};
	};
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii"; /* TX/RX clock delays provided by Agilex5 I/O hardware */
	phy-handle = <&emac0_phy0>;

	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		emac0_phy0: ethernet-phy@0 {
			reg = <0>;
		};
	};
};

&gmac2 {
	status = "disabled";
};

&gpio0 {
	status = "disabled";
};

&spi0 {
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};
